---
import { Image } from 'astro:assets'
import { Project } from '@/lib/types/projects.type'

import Link from '@/components/Link.astro'

import Chip from '@/components/Chip.astro'
import IconForProject from './IconForProject.astro'
import LinkForProject from './LinkForProject.astro'
import { getBackground } from '@/utils/get-background'
import Scale from '@/components/Scale.astro'
import TextShadow from '@/components/TextShadow.astro'

interface Props {
  project: Project
}

const { project } = Astro.props

const href = project.hasContent
  ? `/projects/${project.slug}`
  : project.projectLink

const background = getBackground.get(project)
---

<div class='flex gap-4 items-center rounded-xl'>
  <Link href={href}>
    <Scale>
      <div class='flex items-center justify-center w-[160px] h-[120px]'>
        <Image
          src={background}
          width={160}
          height={120}
          class='rounded-lg bg-muted border'
          alt={project.name}
        />
        {
          background.startsWith('/static') && (
            <div class='absolute flex flex-col items-center'>
              <IconForProject project={project} />
            </div>
          )
        }
      </div>
    </Scale>
  </Link>

  <div class='flex flex-col'>
    <TextShadow href={href}>{project.name}</TextShadow>
    <div class='grow text-sm text-muted-foreground'>
      <p>{project.description}</p>
      <LinkForProject project={project} />
    </div>

    <div class='flex flex-wrap gap-1 mt-2 -ml-1'>
      {project?.techStack?.map(techStackItem => <Chip>{techStackItem}</Chip>)}
    </div>
  </div>
</div>
