---
import { Image } from 'astro:assets'
import { Project } from '@/lib/types/projects'

import Link from '@/components/Link.astro'
import Chip from '@/components/Chip.astro'
import IconForProject from './IconForProject.astro'
import LinkForProject from './LinkForProject.astro'
import { getBackground } from '@/utils/get-background'

interface Props {
  project: Project
}

const { project } = Astro.props

const href = project.hasContent
  ? `/projects/${project.slug}`
  : project.projectLink

const background = getBackground.get(project)
console.log(background)
---

<div
  class='rounded-xl group relative transform hover:scale-105 transition duration-700 ease-out'
>
  <Link href={href} class='flex flex-col'>
    <div class='flex items-center justify-center'>
      <Image
        src={background}
        width={1200}
        height={630}
        class='rounded-lg'
        alt={project.name}
      />

      <div class='absolute flex flex-col items-center'>
        <IconForProject project={project} />
        <span class='text-lg font-bold text-ellipsis text-center'>
          {project.name}
        </span>
      </div>
    </div>
    <div class='flex-1 px-2 py-4'>
      <p class='text-sm text-muted-foreground'>{project.description}</p>
      <LinkForProject project={project} />
      <div class='flex flex-wrap gap-1 mt-2 -ml-1'>
        {project?.techStack?.map(techStackItem => <Chip>{techStackItem}</Chip>)}
      </div>
    </div>
  </Link>
</div>
