---
import { Image } from 'astro:assets'
import { Project } from '@/lib/types/projects'

import Link from '@/components/Link.astro'

import Chip from '@/components/Chip.astro'
import ProjectIcon from './ProjectIcon.astro'
import ProjectLink from './ProjectLink.astro'
import { getBackground } from '@/utils/get-background'

interface Props {
  project: Project
}

const { project } = Astro.props

const href = project.hasContent ? `/projects/${project.slug}` : ''
const background = getBackground.get(project)
---

<Link href={href}>
  <div
    class='flex gap-4 items-center rounded-xl group relative transform hover:scale-105 transition duration-700 ease-out'
  >
    <div class='flex items-center justify-center'>
      <Image
        src={background}
        width={200}
        height={500}
        class='rounded-lg'
        alt={project.name}
      />
      {
        background.startsWith('/static') && (
          <div class='absolute flex flex-col items-center'>
            <ProjectIcon project={project} />
          </div>
        )
      }
    </div>

    <div class='flex flex-col'>
      <span class='text-lg font-bold mb-1 text-ellipsis'>
        {project.name}
      </span>

      <p class='text-sm text-muted-foreground'>{project.description}</p>

      <ProjectLink project={project} />
      <div class='flex flex-wrap gap-1 mt-2 -ml-1'>
        {project?.techStack?.map(techStackItem => <Chip>{techStackItem}</Chip>)}
      </div>
    </div>
  </div>
</Link>
