---
import { Image } from 'astro:assets'
import { Project } from '@/lib/types/projects'

import Link from '@/components/Link.astro'
import Chip from '@/components/Chip.astro'
import ProjectIcon from './ProjectIcon.astro'

interface Props {
  project: Project
}

const { project } = Astro.props

const href = project.hasContent ? `/projects/${project.slug}` : ''

const backgrounds = [
  '/static/backgrounds/1.png',
  '/static/backgrounds/2.png',
  '/static/backgrounds/3.png',
  '/static/backgrounds/4.png',
  '/static/backgrounds/5.png',
  '/static/backgrounds/6.png',
  '/static/backgrounds/7.png',
  '/static/backgrounds/8.png',
  '/static/backgrounds/9.png'
]

const image =
  project.background != null && project.background?.trim() !== ''
    ? project.background!
    : backgrounds[Math.floor(Math.random() * backgrounds.length)]
---

<Link href={href} class='group relative flex flex-col rounded-xl border p-4'>
  <div class='flex items-center justify-center'>
    <Image
      src={image}
      width={1200}
      height={630}
      class:list={[
        'rounded-lg transform hover:scale-105 transition duration-700 ease-out'
      ]}
      alt={project.name}
    />

    <div class='absolute flex flex-col items-center'>
      <ProjectIcon project={project} />
      <span class='text-lg font-sans font-[650] mb-1 text-ellipsis'>
        {project.name}
      </span>
    </div>
  </div>
  <div class='flex-1 px-2 py-4'>
    <p class='text-sm text-muted-foreground'>{project.description}</p>
    <div class='flex flex-wrap gap-1 mt-2 -ml-1'>
      {project?.techStack?.map(techStackItem => <Chip>{techStackItem}</Chip>)}
    </div>
  </div>
</Link>
