---
import { Image } from 'astro:assets'

import type { Post } from '@/lib/types/post.type'

import Link from '@components/Link.astro'
import FormattedDate from './FormattedDate.astro'
import Icons from '@/components/icons/Icons.astro'
import TextShadow from '@/components/TextShadow.astro'
import Scale from '@/components/Scale.astro'
import Chip from '@/components/Chip.astro'

interface Props {
  posts: Post[]
}

const { posts } = Astro.props
---

<div list-view class='hidden'>
  {
    // destructuring data from the collection
    // review `content/config.ts destructure the right data
    posts.map(function ({ slug, cover, title, summary, date, tags }) {
      const backgroundCover = cover ? cover : '/static/blog_placeholder.png'
      const href = `/blog/${slug}`

      return (
        <article class='py-5 border-b border-slate-100 dark:border-slate-800 '>
          <div class='flex items-start'>
            <Link href={href}>
              <Scale>
                <Image
                  class='rounded-lg border w-16 h-16 sm:w-[88px] sm:h-[88px] object-cover mr-6 '
                  src={backgroundCover}
                  width={88}
                  height={88}
                  alt={title}
                />
              </Scale>
            </Link>

            <div class='w-full'>
              <div class='text-xs text-slate-500 uppercase mb-1'>
                <FormattedDate date={date} />
              </div>
              <TextShadow href={href}>{title}</TextShadow>

              <div class='flex justify-between'>
                <div class='grow text-sm text-muted-foreground'>
                  {summary}
                  <div class='flex flex-wrap gap-1 mt-2 -ml-1'>
                    {tags?.map(tag => (
                      <Chip>{tag}</Chip>
                    ))}
                  </div>
                </div>

                <Link
                  class='hidden lg:flex shrink-0 text-foreground items-center justify-center w-12 group'
                  href={href}
                >
                  <Icons kind='arrow' />
                </Link>
              </div>
            </div>
          </div>
        </article>
      )
    })
  }
</div>
