---
import { Image } from 'astro:assets'
import type { Post } from '@/lib/types/post.type'

import Link from '@components/Link.astro'
import FormattedDate from './FormattedDate.astro'
import Scale from '@/components/Scale.astro'
import TextShadow from '@/components/TextShadow.astro'
import Tags from './Tags.astro'

interface Props {
  posts: Post[]
}

const { posts } = Astro.props
---

<div grid-view class='hidden'>
  <div class='grid gap-10 sm:grid-cols-2'>
    {
      // destructuring data from the collection
      // review `config.ts` inside the content folder to destructure the right data
      posts.map(({ slug, cover, title, summary, date, tags }) => {
        const backgroundCover = cover ? cover : '/static/blog_placeholder.png'
        const href = `/blog/${slug}`
        return (
          <article class='group relative flex flex-col space-y-2'>
            <Link href={href}>
              <Scale>
                <Image
                  src={backgroundCover}
                  alt={title}
                  width={804}
                  height={452}
                  class='rounded-lg border bg-muted transition-colors'
                />
              </Scale>
            </Link>

            <TextShadow href={href} type='h3'>
              {title}
            </TextShadow>

            {date && (
              <p class='text-sm text-muted-foreground'>
                <FormattedDate date={date} />
              </p>
            )}
            {summary && (
              <div class='grow text-sm text-muted-foreground'>
                {summary}
                <Tags tags={tags} />
              </div>
            )}
          </article>
        )
      })
    }
  </div>
</div>
