---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import Link from '@components/Link.astro'
import FormattedDate from './FormattedDate.astro'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
---

<div list-view class='hidden'>
  {
    // destructuring data from the collection
    // review `config.ts` inside the content folder to destructure the right data
    posts.map(({ slug, data: { image, title, summary, date } }) => (
      <article class='py-5 border-b border-slate-100 dark:border-slate-800'>
        <div class='flex items-start'>
          {image && (
            <Image
              class='rounded w-16 h-16 sm:w-[88px] sm:h-[88px] object-cover mr-6'
              src={image}
              width={88}
              height={88}
              alt={title}
            />
          )}
          <div>
            <div class='text-xs text-slate-500 uppercase mb-1'>
              <span class='text-sky-500'>—</span> <FormattedDate date={date} />
            </div>
            <h3 class='font-aspekta text-lg font-[650] mb-1'>
              <Link
                href={`/blog/${slug}`}
                class='inline-flex relative hover:text-sky-500 duration-150 ease-out before:scale-x-0 before:origin-center before:absolute before:inset-0 before:bg-sky-200 dark:before:bg-sky-500 before:opacity-30 before:-z-10 before:translate-y-1/4 before:-rotate-2 hover:before:scale-100 before:duration-150 before:ease-in-out'
              >
                {title}
              </Link>
            </h3>
            <div class='flex'>
              <div class='grow text-sm text-slate-500 dark:text-slate-400'>
                {summary}
              </div>
              <Link
                class='hidden lg:flex shrink-0 text-sky-500 items-center justify-center w-12 group'
                href={`/posts/${slug}`}
              >
                <svg
                  class='fill-current group-hover:translate-x-2 duration-150 ease-in-out'
                  xmlns='http://www.w3.org/2000/svg'
                  width='14'
                  height='12'
                >
                  <path d='M9.586 5 6.293 1.707 7.707.293 13.414 6l-5.707 5.707-1.414-1.414L9.586 7H0V5h9.586Z' />
                </svg>
              </Link>
            </div>
          </div>
        </div>
      </article>
    ))
  }
</div>
