---
import { Image } from 'astro:assets'
import { getCollection, type CollectionEntry } from 'astro:content'

import RootLayout from '@/layouts/root/RootLayout.astro'

import {
  excludeDrafts,
  getPostsSerie
} from '@/lib/data/local/mdx-posts-functions'
import Link from '@/components/Link.astro'
import FormattedDate from '@/components/for-pages/blog/FormattedDate.astro'
import SectionContainer from '@/layouts/SectionContainer.astro'
import PostSeries from '@/components/for-pages/blog/PostSeries.astro'
import PostLayout from '@/layouts/PostLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts', excludeDrafts)
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: { post, next: posts[index + 1], prev: posts[index - 1] }
  }))
}

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

// TOOD: related, tags
const {
  data: { image, title, date, serie }
} = post

const { Content, headings, remarkPluginFrontmatter } = await post.render()

const postsSerie = await getPostsSerie(serie?.title, title)
---

<PostLayout>
  <div>
    <h1 class='text-2xl font-medium sm:text-3xl'>{title}</h1>

    <div class='flex mt-2 space-x-2 text-lg text-rose-100/50'>
      {
        date && (
          <p class='text-sm text-muted-foreground'>
            Published on <FormattedDate date={date} />
          </p>
        )
      }
      <div class='text-rose-100/30'>&middot;</div>
      <div>METRICS</div>
    </div>
  </div>

  <div class='sticky top-20 hidden h-0 xl:!col-start-4 xl:row-start-2 xl:block'>
    <div class='space-y-6'>
      {
        headings != null ? (
          <div>HEADINGS</div>
        ) : // <div class='space-y-2 text-sm'>

        null
      }

      <div class='border-t border-rose-200/10'></div>

      <div class='flex items-center justify-between'>
        {/* <LikeButton2 slug={post.slug} /> */}
        <div class=''>
          <button class='text-sm text-rose-100/30 hover:text-rose-100/60'>
            Back to top
          </button>
        </div>
      </div>
    </div>
  </div>

  {
    postsSerie != null && postsSerie.posts.length > 1 && (
      <PostSeries data={postsSerie} isInteractive={true} />
    )
  }

  <div class='prose max-w-none pb-8 pt-10 dark:prose-invert'>
    <Content />
  </div>

  <div class='mt-16'>{/* <LikeButton2 slug={post.slug} /> */}</div>
  {
    postsSerie != null && postsSerie.posts.length > 1 ? (
      <div class='my-16'>
        <PostSeries data={postsSerie} />
      </div>
    ) : null
  }
  <!-- <Link
      href='/blog'
      class='absolute left-[-200px] top-14 hidden xl:inline-flex'
    >
      See all posts
    </Link>
    <div>
      {
        date && (
          <p class='text-sm text-muted-foreground'>
            Published on <FormattedDate date={date} />
          </p>
        )
      }
      <h1
        class='mt-2 inline-block font-heading text-4xl leading-tight lg:text-5xl'
      >
        {title}
      </h1>
    </div>
    {
      image && (
        <Image
          src={image}
          alt={title}
          width={720}
          height={405}
          class='my-8 rounded-md border bg-muted transition-colors'
        />
      )
    }

    {
      postsSerie != null && postsSerie.posts.length > 1 && (
        <PostSeries data={postsSerie} isInteractive={true} />
      )
    }
    <div class='prose max-w-none pb-8 pt-10 dark:prose-invert'>
      <Content />
    </div>
    <hr class='mt-12' />
    <div class='flex justify-center py-6 lg:py-10'>
      <Link href='/blog'>chevronLeft --- See all posts</Link>
    </div> -->
</PostLayout>
