---
import { Image } from 'astro:assets'
import type { Post } from '@/lib/types/post.type'

import ContentLayout from '@/layouts/content/ContentLayout.astro'
import FormattedDate from '@/components/for-pages/blog/FormattedDate.astro'
import PostSeries from '@/components/for-pages/blog/posts/PostSeries.astro'
import Link from '@/components/Link.astro'
import RenderBlocks from '@/components/notion/RenderBlocks.astro'
import RightAside from '@/components/for-pages/blog/posts/RightAside.astro'
import LeftAside from '@/components/for-pages/blog/posts/LeftAside.astro'
import Icons from '@/components/icons/Icons.astro'
import Reactions from '@/components/reactions/reactions'

import { TOP_ID } from '@/components/for-pages/blog/posts/table-of-contents/toc'
import {
  getBlogContent,
  getPostsData,
  getPostsSerie
} from '@/lib/data/blog-provider'

export async function getStaticPaths() {
  const posts = await getPostsData()
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: { post, next: posts[index + 1], prev: posts[index - 1] }
  }))
}

interface Props {
  post: Post
}

const { post } = Astro.props

// TOOD: related, tags
const { slug, cover, title, date, tags } = post

const result = await getBlogContent(post)

const { Content, headings } = result
const { blocks } = result

const postsSerie = await getPostsSerie(slug)
---

<ContentLayout>
  <div>
    {
      date && (
        <p class='text-sm text-muted-foreground'>
          Published on <FormattedDate date={date} />
        </p>
      )
    }
    <h1
      id={TOP_ID}
      class='inline-block mt-2 text-4xl leading-tight font-heading lg:text-5xl'
    >
      {title}
    </h1>
  </div>
  <LeftAside post={post} />
  <RightAside headings={headings} slug={slug} />

  {
    cover && (
      <Image
        src={cover}
        alt={title}
        width={744}
        height={405}
        class='transition-colors border rounded-md bg-muted'
      />
    )
  }

  {
    postsSerie != null && postsSerie.posts.length > 1 && (
      <PostSeries data={postsSerie} isInteractive={true} />
    )
  }

  <!-- Content is the astro:content object -->
  {
    Content && (
      <div class='pt-10 pb-8 max-w-none prose dark:prose-invert'>
        <Content />
      </div>
    )
  }

  <!-- blocks is the data from notion -->
  {
    blocks && (
      <div class='pt-10 pb-8'>
        <RenderBlocks blocks={blocks} />
      </div>
    )
  }

  <hr class='border-t-2 border-zinc-200/10' />

  <div class='flex flex-col items-center justify-center pb-6'>
    <Link href='/blog' class='flex items-center py-3 lg:py-6'>
      <Icons kind='chevronLeft' class='w-4 h-4 mr-1' />
       See all posts
    </Link>
    <Reactions client:idle slug={slug} size='sm' />
  </div>

  {
    postsSerie != null && postsSerie.posts.length > 1 ? (
      <div serie-bottom-component>
        <PostSeries data={postsSerie} />
      </div>
    ) : null
  }
</ContentLayout>

<script>
  function isElementVisible(element: Element | null) {
    if (!element) return false
    const rect = element.getBoundingClientRect()
    const windowHeight =
      window.innerHeight || document.documentElement.clientHeight
    const windowWidth =
      window.innerWidth || document.documentElement.clientWidth

    // check if element is inside of viewport
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= windowHeight &&
      rect.right <= windowWidth
    )
  }

  const topSerie = document.querySelector('[serie-top-component]')
  const bottomSerie = document.querySelector('[serie-bottom-component]')

  let bothVisible = 0

  if (isElementVisible(topSerie)) {
    bothVisible += 1
  }

  if (isElementVisible(bottomSerie)) {
    bothVisible += 1
  }

  if (bothVisible === 2) {
    bottomSerie?.classList.add('hidden')
  }
</script>
