---
import type { NotionBlock } from '@/lib/core/notion-core/notion-blocks'

import Quote from '@components/Quote.astro'
import Heading from './blocks/Heading.astro'
import CodeBlock from './blocks/CodeBlock.astro'
import YoutubeEmbed from './blocks/YoutubeEmbed.astro'
import Callout from './blocks/Callout.astro'
import NotionImage from './blocks/NotionImage.astro'
import NotionFile from './blocks/NotionFile.astro'
import NotionText from './blocks/NotionText.astro'
import UnOrderedList from './blocks/UnOrderedList.astro'
import OrderedList from './blocks/OrderedList.astro'
import TodoList from './blocks/TodoList.astro'
import Bookmark from './blocks/Bookmark.astro'
import NotionDivider from './blocks/NotionDivider.astro'
import CodeGroupBlock from './blocks/CodeGroupBlock.astro'

interface Props {
  blocks: NotionBlock[]
}

const { blocks } = Astro.props
---

{
  blocks.map(block => {
    if (block.type === 'break') {
      return <br />
    }

    if (block.type === 'richText') {
      return (
        <p>
          <NotionText block={block} />
        </p>
      )
    }

    if (block.type === 'heading') {
      return <Heading block={block} />
    }

    if (block.type === 'unorderedList') {
      return <UnOrderedList block={block} />
    }

    if (block.type === 'orderedList') {
      return <OrderedList block={block} />
    }

    if (block.type === 'todoList') {
      return <TodoList block={block} />
    }

    if (block.type === 'quote') {
      return <Quote quote={block.text} />
    }

    if (block.type === 'callout') {
      return <Callout block={block} />
    }
    if (block.type === 'bookmark') {
      return <Bookmark block={block} />
    }

    if (block.type === 'divider') {
      return <NotionDivider />
    }

    if (block.type === 'media') {
      if (block.kind === 'video') {
        return <YoutubeEmbed url={block.url} />
      }

      if (block.kind === 'file') {
        return <NotionFile block={block} />
      }

      if (block.kind === 'image') {
        return <NotionImage block={block} />
      }

      if (block.kind === 'pdf') {
        return <NotionFile block={block} />
      }
    }

    if (block.type === 'codeGroup') {
      if (block.items.length == 1) {
        return <CodeBlock block={block.items[0]} />
      }

      return <CodeGroupBlock block={block} />
    }
  })
}
