---
import { languages } from '@/data/resume-data'
import BaseCard from '@/components/BaseCard.astro'
---

<BaseCard variant='left' title='Languages'>
  <div>
    <ul class='space-y-2'>
      <li class='flex justify-between items-center'>
        <div class='grow inline-flex mr-1.5 truncate'>
          <span class='text-sky-500'>
            {'> '}
            {languages.esp.icon}
          </span>
          <span class='font-sans font-[650] text-sm truncate'>
            {languages.esp.label}
          </span>
        </div>
        <div
          class='shrink-0 relative w-5 h-5 rounded-full bg-[conic-gradient(theme(colors.sky.500)_100%,0,theme(colors.zinc.200)_0)] dark:bg-[conic-gradient(theme(colors.sky.500)_100%,0,theme(colors.zinc.500)_0)] after:absolute after:inset-0 after:rounded-full after:w-3 after:h-3 after:m-auto after:bg-white dark:after:bg-zinc-800'
          role='progressbar'
          aria-valuenow={languages.esp.percent}
          aria-valuemin={0}
          aria-valuemax={100}
        >
        </div>
      </li>
      <li class='flex justify-between items-center'>
        <div class='grow inline-flex truncate'>
          <span class='text-sky-500'>
            {'> '}
            {languages.eng.icon}
          </span>
          <span class='font-sans font-[650] text-sm truncate'>
            {languages.eng.label}
          </span>
        </div>
        <div
          class='shrink-0 relative w-5 h-5 rounded-full bg-[conic-gradient(theme(colors.sky.500)_70%,0,theme(colors.zinc.200)_0)] dark:bg-[conic-gradient(theme(colors.sky.500)_70%,0,theme(colors.zinc.600)_0)] after:absolute after:inset-0 after:rounded-full after:w-3 after:h-3 after:m-auto after:bg-white dark:after:bg-zinc-800'
          role='progressbar'
          aria-valuenow={languages.eng.percent}
          aria-valuemin={0}
          aria-valuemax={100}
        >
        </div>
      </li>
    </ul>
  </div>
</BaseCard>
