---
import type { Post } from '@/lib/types/post.type'
import Link from '@/components/Link.astro'
import Icons from '@/components/icons/Icons.astro'

interface Props {
  post: Post
  prev: Post
  next: Post
}

const { post, prev, next } = Astro.props

const labelClass = 'text-base italic text-muted-foreground text-opacity-100'
---

<div class:list={['relative', 'xl:!col-start-2']}>
  <div class='relative xl:absolute xl:top-0 xl:left-0 xl:right-0 flex flex-col'>
    {
      post.status === 'in progress' ? (
        <div class:list={['mb-1', labelClass]}>In Progress</div>
      ) : null
    }

    <p class='text-sm italic text-muted-foreground'>
      Note: This post is not finished. I sometimes publish early in case it will
      be helpful to someone.
    </p>

    {
      (next || prev) && (
        <div class='lg:flex justify-between py-4 xl:block xl:space-y-8 xl:py-8 hidden'>
          {prev && (
            <div>
              <h2 class={labelClass}>Previous</h2>
              <Link href={`/blog/${prev.slug}`}>{prev.title}</Link>
            </div>
          )}
          {next && (
            <div>
              <h2 class={labelClass}>Next</h2>
              <Link href={`/blog/${next.slug}`}>{next.title}</Link>
            </div>
          )}
        </div>
      )
    }

    <Link href='/blog' class='pb-6 lg:flex items-center justify-start hidden'>
      <Icons kind='chevronLeft' class='w-4 h-4 mr-1' />
       Back to blog
    </Link>
  </div>
</div>
