---
import { Image } from 'astro:assets'

import { siteMetadata } from '@/site-metadata'
import { getAboutMeData } from '@/lib/data/about-me-provider'

import RenderBlocks from '@/components/notion/RenderBlocks.astro'
import MiddleArea from '@/layouts/two-columns/MiddleArea.astro'
import TwoColumnsLayout from '@/layouts/two-columns/TwoColumnsLayout.astro'
import RightSide from '@/layouts/two-columns/RightSide.astro'
import Quote from '@/components/Quote.astro'
import ConnectWithMeCard from '@/components/for-pages/about/ConnectWithMeCard.astro'
import CurrentCompany from '@/components/for-pages/about/CurrentCompany.astro'
import SkillCard from '@/components/for-pages/about/SkillCard.astro'

const { summary, summaryBlocks, skills, currentWork } = await getAboutMeData()
---

<TwoColumnsLayout metaTitle={siteMetadata.name}>
  <RightSide styles='w-[240px]'>
    <div class='rounded-2xl bg-zinc-800 object-cover dark:bg-zinc-800'>
      <Image
        src='/static/avatar.jpeg'
        alt='Person avatar alt'
        width={1200}
        height={684}
        class='aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800'
      />
    </div>
    <Quote styles='mt-2' quote='Fortuna audaces iuvat' author='Virgilio' />
  </RightSide>

  {
    summaryBlocks && (
      <MiddleArea>
        <RenderBlocks blocks={summaryBlocks} />
      </MiddleArea>
    )
  }

  {
    summary && (
      <MiddleArea>
        {summary.map(element => {
          if (element === '') return <p class='mt-8' />

          return (
            <p class='text-lg mt-2 text-zinc-900 dark:text-zinc-100'>
              {element}
            </p>
          )
        })}
      </MiddleArea>
    )
  }

  <RightSide styles='md:justify-self-end space-y-6'>
    <ConnectWithMeCard />
    <CurrentCompany currentWork={currentWork} />
    <SkillCard skills={skills} />
  </RightSide>
</TwoColumnsLayout>
