---
import PageLayout from '@/layouts/PageLayout.astro'
import PageTitle from '@/components/PageTitle.astro'

import { hexToRgb } from '@/utils/color'
import { getDashboardData } from '@/lib/data/dashboard-provider'
import { siteMetadata } from '@/site-metadata'
import IconStatByType from '@/components/dashboard/IconStatByType.astro'

const { githubStats, wakatime } = await getDashboardData()

interface StatCard {
  icon: string
  title: string
  link: string
  value: number | string | undefined
  color: string
}

const now = new Date()
const currentYear = now.getFullYear()

const data: StatCard[] = [
  {
    title: 'Coding hours',
    link: 'https://wakatime.com/@jamescardona11',
    value: wakatime?.time ?? 0,
    icon: 'codingHours',
    color: '#f7b731'
  },
  {
    title: 'Followers on GitHub',
    link: `https://github.com/${siteMetadata.github}`,
    value: githubStats?.followers,
    icon: 'followers',
    color: '#4078c0'
  },
  {
    title: 'Stars on GitHub',
    link: `https://github.com/${siteMetadata.github}`,
    value: githubStats?.stars,
    icon: 'stars',
    color: '#c94091'
  },
  {
    title: `Github commits on ${currentYear}`,
    link: `https://github.com/${siteMetadata.github}`,
    value: githubStats?.contributions,
    icon: 'contributions',
    color: '#26de81'
  }
]
---

<PageLayout metaTitle='Uses - tools'>
  <PageTitle title='Dashboard' />
  <div class='grid gap-4 mt-4 mb-4 sm:grid-cols-2'>
    {
      data.map(item => {
        const { icon, link, title, value, color } = item
        const newColor = hexToRgb(color, 0)

        return (
          <a
            target='_blank'
            rel='noopener noreferrer'
            href={link}
            class:list={[
              'flex flex-col gap-2 rounded-lg border p-4 transition-colors duration-150',
              'hover:bg-[rgba(var(--custom-color)/0.05)]',
              'hover:border-[rgba(var(--custom-color)/0.56)]'
            ]}
            style={{ '--custom-color': newColor }}
          >
            <div class='flex justify-end'>
              <div
                class:list={[
                  'rounded-full p-2',
                  'bg-[rgba(var(--custom-color)/0.15)]'
                ]}
                style={{ '--custom-color': newColor }}
              >
                <IconStatByType type={icon} color={color} />{' '}
              </div>
            </div>

            <div class='text-3xl font-black'>{value ?? '-'}</div>
            <div class='text-base font-sans'>{title}</div>
          </a>
        )
      })
    }
  </div>
</PageLayout>
