---
import type { HTMLAttributes } from 'astro/types'

import Mail from './source/Mail.astro'
import Github from './source/Github.astro'
import Youtube from './source/Youtube.astro'
import Linkedin from './source/Linkedin.astro'
import Twitter from './source/Twitter.astro'

import LinkIcon from './source/LinkIcon.astro'
import FileIcon from './source/FileIcon.astro'
import StartIcon from './source/StartIcon.astro'
import ClockIcon from './source/ClockIcon.astro'
import ContributionsIcon from './source/ContributionsIcon.astro'
import LikeIcon from './source/LikeIcon.astro'
import ViewsIcon from './source/ViewsIcon.astro'
import ChevronDown from './source/ChevronDown.astro'
import ChevronUp from './source/ChevronUp.astro'
import ChevronLeft from './source/ChevronLeft.astro'
import ChevronRight from './source/ChevronRight.astro'

import ProfessionalIcon from './source/ProfessionalIcon.astro'
import SideProjectIcon from './source/SideProjectIcon.astro'
import Arrow from './source/Arrow.astro'

const components = {
  github: Github,
  youtube: Youtube,
  linkedin: Linkedin,
  x: Twitter,
  mail: Mail,
  link: LinkIcon,
  file: FileIcon,
  start: StartIcon,
  clock: ClockIcon,
  contributions: ContributionsIcon,
  likes: LikeIcon,
  views: ViewsIcon,
  chevronDown: ChevronDown,
  chevronUp: ChevronUp,
  chevronLeft: ChevronLeft,
  chevronRight: ChevronRight,
  arrow: Arrow,
  profesional: ProfessionalIcon,
  sideProjects: SideProjectIcon
}

export type IconKey = keyof typeof components

type Props = HTMLAttributes<'svg'> & {
  kind: IconKey
  href?: string
}

const { kind, href, class: c, style } = Astro.props
const SvgIcon = components[kind]

let className =
  c ?? `fill-zinc-500 dark:hover:fill-zinc-100 hover:fill-zinc-700 h-5 w-5`
---

{
  href ? (
    <a class={className} target='_blank' rel='noopener noreferrer' href={href}>
      <span class='sr-only'>{kind}</span>
      <SvgIcon class={className} style={style} />
    </a>
  ) : (
    <div>
      <span class='sr-only'>{kind}</span>
      <SvgIcon class={className} style={style} />
    </div>
  )
}
